:root{
  --text: #0e1726;
  
  --panel: rgba(255, 255, 255, 0.55);
  --border: rgba(0, 0, 0, 0.15);
  --background: rgba(255, 255, 255, 0.55);

  --header-image: url("assets/HeaderLightTransparent323.png");
  --section-logo: url("assets/LogoLightTransparent1885.png");
  --bg-image: url("assets/BackgroundLight2160.png");
  --bg-overlay: rgba(255,255,255,0.55);
}

:root.dark{
  --text: #eef4ff;
  
  --panel: rgba(0, 0, 0, 0.55);
  --border: rgba(255, 255, 255, 0.15);
  --background: rgba(0, 0, 0, 0.55);

  --header-image: url("assets/HeaderDarkTransparent323.png");
  --section-logo: url("assets/LogoDarkTransparent1885.png");
  --bg-image: url("assets/BackgroundDark2160.png");
  --bg-overlay: rgba(0,0,0,0.55);
}

html, body{ 
  height:100%; 
  margin:0;
}

body{
  display: flex;
  flex-direction: column;
  font-family: Tahoma, Arial, sans-serif;
  color: var(--text);
  background: linear-gradient(0, var(--bg-overlay), var(--bg-overlay)), var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a{ 
  color: inherit; 
  text-decoration: none; 
}

.header, .footer{
  position: sticky;
  z-index: 1024;
  backdrop-filter: blur(10px);
  background: var(--background);
  padding: 16px 0;
}

.header{
  top: 0;
  border-bottom: 1px solid var(--border);
}

.footer{
  bottom: 0;
  border-top: 1px solid var(--border);
}

.header-inner, .footer-inner{
  display:flex;
  align-items:center;
  justify-content:space-between;
  height: 32px;
}

.header-image {
  content: var(--header-image);
}

.main{
	flex: 1
}

.nav{
  display:flex;
  align-items:center;
  gap: 16px;
}

.container{
  width: 1024px;
  margin: 0 auto;
}

.section{
  margin: 16px 16px;
}

.section-logo {
  content: var(--section-logo);
}

.panels{
  display:flex;
  gap: 16px;
  width: 100%;
}

.panel{
  display:flex;
  flex: 1;
  gap:16px;
  padding: 16px;
  border-radius: 16px;
  background: var(--panel);
  border: 1px solid var(--border);
}

.theme-toggle{
  border: 1px solid var(--border);
  background: transparent;
  color: var(--text);
  border-radius: 999px;
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
}
